In [ ]:
import string
from nltk.corpus import stopwords
import nltk
nltk.download('wordnet')
nltk.download('punkt')
from nltk.wsd import lesk
from nltk import word_tokenize
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import pandas as  pd
import numpy as np

In [ ]:
def message_text_process(mess):
    no_punctuation = [char for char in mess if char not in string.punctuation]
    no_punctuation = ''.join(no_punctuation)
    return [word for word in no_punctuation.split() if word.lower() 
            not in stopwords.words('english')]

In [ ]:
df=pd.read_excel('1000 leads.xlsx')

In [ ]:
df

                Lead Name  ... Unnamed: 4
0                    Raja  ...        NaN
1           Anirudh Reddy  ...        NaN
2            Sapna Dewani  ...        NaN
3                  suresh  ...        NaN
4           Akshay Shinde  ...        NaN
...                   ...  ...        ...
996                 vipin  ...        NaN
997               dheeraj  ...        NaN
998         kuldeep singh  ...        NaN
999          ankur sharma  ...        NaN
1000  Saugata Chakrabarti  ...        NaN

[1001 rows x 5 columns]

In [ ]:
#dropping the unnamed column
df['Unnamed: 4'].unique()

array([nan])

In [ ]:
df=df.drop(['Unnamed: 4'],axis=1)

In [ ]:
df=df.dropna()

In [ ]:
df

                Lead Name  ...                                 Status information
0                    Raja  ...  14/8/prema: share me details, available in evn...
1           Anirudh Reddy  ...  14/8/prema: cal me tmrw, shared details to ema...
2            Sapna Dewani  ...                                   16|AuG|moHan:rnr
3                  suresh  ...  14/8/17(Surendra):i want only Server 16|AuG|mo...
4           Akshay Shinde  ...  14/8/prema:rnr 16/8/prema: gave info, he said ...
...                   ...  ...                                                ...
996                 vipin  ...  25/4/17(Surendra):please send me details tomor...
997               dheeraj  ...  24/4/17(prema): need CT, but our venue is far....
998         kuldeep singh  ...  24/Apr/moHan:intrstd in evng batch trail perd ...
999          ankur sharma  ...  1/5/17(Surendra):please share me details 11/5/...
1000  Saugata Chakrabarti  ...  24/4/17(prema): shared details need only Cert....

[956 rows x 4 columns]

In [ ]:
#replacing the mistyped data 
df1=df.replace(['NOt Converted', 'Conveted'],['Not Converted', 'Converted '])

In [ ]:
df1['Status '].unique()

array(['Not Converted', 'Converted '], dtype=object)

In [ ]:
df1

                Lead Name  ...                                 Status information
0                    Raja  ...  14/8/prema: share me details, available in evn...
1           Anirudh Reddy  ...  14/8/prema: cal me tmrw, shared details to ema...
2            Sapna Dewani  ...                                   16|AuG|moHan:rnr
3                  suresh  ...  14/8/17(Surendra):i want only Server 16|AuG|mo...
4           Akshay Shinde  ...  14/8/prema:rnr 16/8/prema: gave info, he said ...
...                   ...  ...                                                ...
996                 vipin  ...  25/4/17(Surendra):please send me details tomor...
997               dheeraj  ...  24/4/17(prema): need CT, but our venue is far....
998         kuldeep singh  ...  24/Apr/moHan:intrstd in evng batch trail perd ...
999          ankur sharma  ...  1/5/17(Surendra):please share me details 11/5/...
1000  Saugata Chakrabarti  ...  24/4/17(prema): shared details need only Cert....

[956 rows x 4 columns]

In [ ]:
from sklearn.utils import resample
#combine them back for resampling

not_converted = df1[df1['Status ']=="Not Converted"]
converted = df1[df1['Status ']=='Converted ']
# upsample minority
conv_upsampled = resample(converted,
replace=True, # sample with replacement
n_samples=len(not_converted), # match number in majority class
random_state=27) # reproducible results
# combine majority and upsampled minority
data = pd.concat([not_converted, conv_upsampled])
# check new class counts
data['Status '].value_counts()

Converted        829
Not Converted    829
Name: Status , dtype: int64

In [ ]:
data

          Lead Name  ...                                 Status information
0              Raja  ...  14/8/prema: share me details, available in evn...
1     Anirudh Reddy  ...  14/8/prema: cal me tmrw, shared details to ema...
3            suresh  ...  14/8/17(Surendra):i want only Server 16|AuG|mo...
4     Akshay Shinde  ...  14/8/prema:rnr 16/8/prema: gave info, he said ...
5           Karthik  ...  12/8/17(Surendra):i will check demo(attended d...
..              ...  ...                                                ...
335        Prashant  ...  10/JulY/moHan: not reachble 11/JulY/moHan:he w...
375           Jubin  ...                    7/7/17(Surendra):not interested
30   Mohiuddin Khan  ...  8|aUg|moHan:rnr 9|aUg|moHan:rnr 11|aUg|moHan:r...
196  janardanareddy  ...  24/7/prema: available in mrng time 25/7/prema:...
245      sri harsha  ...  17/JulY/moHan:attnd tmrw evng session 19/JulY/...

[1658 rows x 4 columns]

In [ ]:
#removing the unnecessary characters other than letters
df2=data['Status information'].replace(regex = True, to_replace = '[^a-zA-Z]', value = ' ')

In [ ]:
df2

0           prema  share me details  available in evn...
1           prema  cal me tmrw  shared details to ema...
3              Surendra  i want only Server    AuG mo...
4           prema rnr      prema  gave info  he said ...
5              Surendra  i will check demo attended d...
                             ...
335       JulY moHan  not reachble    JulY moHan he w...
375                             Surendra  not interested
30       aUg moHan rnr   aUg moHan rnr    aUg moHan r...
196         prema  available in mrng time      prema ...
245       JulY moHan attnd tmrw evng session    JulY ...
Name: Status information, Length: 1658, dtype: object

In [ ]:
df2[0]

'     prema  share me details  available in evng      prema  postponed the plans for training currently      prema  not interested now'

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
count_vec=CountVectorizer()

In [ ]:
bag_words = CountVectorizer(analyzer = message_text_process).fit(df2)

In [ ]:
print(len(bag_words.vocabulary_))

1268

In [ ]:
print(bag_words)

CountVectorizer(analyzer=<function message_text_process at 0x7faeae062400>,
                binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [ ]:
message_bagwords = bag_words.transform(df2)

In [ ]:
print(message_bagwords)

  (0, 278)	1
  (0, 424)	1
  (0, 454)	1
  (0, 540)	1
  (0, 660)	1
  (0, 886)	1
  (0, 906)	1
  (0, 911)	3
  (0, 1044)	1
  (0, 1155)	1
  (1, 3)	1
  (1, 323)	1
  (1, 337)	1
  (1, 344)	1
  (1, 454)	2
  (1, 512)	3
  (1, 730)	1
  (1, 799)	1
  (1, 911)	3
  (1, 961)	1
  (1, 996)	1
  (1, 1044)	1
  (1, 1045)	1
  (1, 1137)	1
  (2, 16)	2
  :	:
  (1657, 26)	1
  (1657, 80)	5
  (1657, 164)	1
  (1657, 212)	1
  (1657, 223)	1
  (1657, 261)	1
  (1657, 318)	1
  (1657, 344)	1
  (1657, 372)	1
  (1657, 383)	1
  (1657, 450)	1
  (1657, 486)	1
  (1657, 540)	2
  (1657, 768)	1
  (1657, 775)	5
  (1657, 800)	1
  (1657, 922)	1
  (1657, 934)	1
  (1657, 1013)	1
  (1657, 1036)	1
  (1657, 1037)	1
  (1657, 1043)	1
  (1657, 1093)	1
  (1657, 1137)	2
  (1657, 1167)	1

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(message_bagwords)

In [ ]:
tfidf=TfidfTransformer()

In [ ]:
message_tfidf = tfidf_transformer.transform(message_bagwords)

In [ ]:
message_tfidf

<1658x1268 sparse matrix of type '<class 'numpy.float64'>'
	with 16267 stored elements in Compressed Sparse Row format>

In [ ]:
print(message_tfidf.shape)
print(message_tfidf)

(1658, 1268)
  (0, 1155)	0.3120121269481698
  (0, 1044)	0.18689242971035516
  (0, 911)	0.43983108148762684
  (0, 906)	0.3477145033978356
  (0, 886)	0.4590753285830721
  (0, 660)	0.2231960216878144
  (0, 540)	0.25790289093537205
  (0, 454)	0.13744492183434556
  (0, 424)	0.3477145033978356
  (0, 278)	0.2940848368472303
  (1, 1137)	0.17315961427477372
  (1, 1045)	0.10855542219362456
  (1, 1044)	0.13175803204286496
  (1, 996)	0.1818199775158013
  (1, 961)	0.33689394177888693
  (1, 911)	0.31007825099126407
  (1, 799)	0.1851108748370767
  (1, 730)	0.1874431690012388
  (1, 512)	0.5623295070037164
  (1, 454)	0.19379567640320938
  (1, 344)	0.1350886130952956
  (1, 337)	0.32364532874487945
  (1, 323)	0.15991100124076624
  (1, 3)	0.35556681308551824
  (2, 1201)	0.21144306721661874
  :	:
  (1657, 1167)	0.18728322239669273
  (1657, 1137)	0.22654514446583515
  (1657, 1093)	0.18728322239669273
  (1657, 1043)	0.1490685519480872
  (1657, 1037)	0.14552026680337207
  (1657, 1036)	0.10252752394971594
  (1657, 1013)	0.17620529111914562
  (1657, 934)	0.18728322239669273
  (1657, 922)	0.17861662607072015
  (1657, 800)	0.1490685519480872
  (1657, 775)	0.35647599310404593
  (1657, 768)	0.18410917317589626
  (1657, 540)	0.23787551875537313
  (1657, 486)	0.18728322239669273
  (1657, 450)	0.08538320717955859
  (1657, 383)	0.11597219268073916
  (1657, 372)	0.18123789639774943
  (1657, 344)	0.08836838051856721
  (1657, 318)	0.09653702163189701
  (1657, 261)	0.17189429170520854
  (1657, 223)	0.18728322239669273
  (1657, 212)	0.18123789639774943
  (1657, 164)	0.18728322239669273
  (1657, 80)	0.4619554721812863
  (1657, 26)	0.18728322239669273

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(message_tfidf,data['Status '] , test_size = 0.2)

In [ ]:
model=RandomForestClassifier()

In [ ]:
modelr=model.fit(X_train, y_train)

In [ ]:
predicted = modelr.predict(X_test)

In [ ]:
expected = y_test

from sklearn import metrics
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

               precision    recall  f1-score   support

   Converted        0.93      1.00      0.97       158
Not Converted       1.00      0.94      0.97       174

     accuracy                           0.97       332
    macro avg       0.97      0.97      0.97       332
 weighted avg       0.97      0.97      0.97       332

[[158   0]
 [ 11 163]]

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(expected,predicted)

0.9668674698795181

In [ ]:
import pickle

In [ ]:
pickle_out= open('RandomForestClassifier.pkl','wb')
pickle.dump(model,pickle_out)
pickle_out.close()

In [ ]:
pickle_out = open('tfidf_Transformer.pkl', 'wb')
pickle.dump(tfidf, pickle_out)
pickle_out.close()

In [ ]:
pickle_out = open('count_vec.pkl', 'wb')
pickle.dump(count_vec, pickle_out)
pickle_out.close()